
  <div  data-ng-include src='"resources/testreg/partials/leftnav.html"'></div>

 <div class="secContent"> 
<span class="boxIcon icon_sprite icon_view1"></span>
<div data-ng-repeat="error in errors">
    <div><span class="icon_sprite icon_error error"></span>{{error}}</div>
</div>

<div class="boxTitle"><h2>Test Spec Bank {{entityNameLabels['Assessment']}} Search</h2></div>
<div>
    <div data-searchable data-search-overwrite-url="searchUrl" data-search-params="searchParams" data-search-response="searchResponse">
        <div class="fieldGroup">
            <h5>Search Filters</h5>
            <ul>
	            <li>
	                <span> 
	                    <label class="control-label" for="searchParams.subjectAbbreviation" >{{xwalk('Subject Code')}}:</label>
	                    <input type="text" name="subjectAbbreviation" data-ng-model="searchParams.subjectAbbreviation" />
	                </span>
	            </li>
	            <li>
	                <span> 
	                    <label class="control-label" for="searchParams.grade" >{{xwalk('Grade')}}:</label>
	                    <input type="text" name="grade" data-ng-model="searchParams.grade" />
	                </span>
	            </li>
	            <li>
	                <span></span>
	            </li>	                
            </ul>
            <button type="button" type="button" class="boxBtn" data-search-on-click  data-active-indicator="searchResponse.searching">
                <span class="btnIcon icon_sprite icon_reTry2 ng-class:{ajax_indicator:activeIndicator}"></span>
                <span class="btnText">Search</span>
            </button>
        </div>
        <div data-pageable data-paging-info="searchResponse"  data-search-params="searchParams" data-change-page="changePage()">
            <table class="dataTable">
                <colgroup>
                    <col class="doubleActionColumn">
                    <col class="width30Percent">
                    <col>
                    <col>
                    <col>       
                    <col class="doubleActionColumn">
                </colgroup>
                <tr>
                    <th>{{xwalk('Save')}}</th>
                    <th data-sort-on-click data-sort-column="testName" class="headerSortUp">{{xwalk('Assessment Name')}}</th>
                    <th data-sort-on-click data-sort-column="subjectCode" >{{xwalk('Subject Code')}}</th>
                    <th data-sort-on-click data-sort-column="grade">{{xwalk('Grade')}}</th>
                    <th data-sort-on-click data-sort-column="version">{{xwalk('Version')}}</th>
                    <th>{{xwalk('Flags')}}</th>
                    <th>{{xwalk('Update')}}</th>
                </tr>

                <tbody data-ng-repeat="assessment in searchResponse.searchResults" data-ng-style="{'uncheckedClass':assessment.updatedVersion}">
                <tr>
                    <td class="normalSpace">
                        <div  data-ng-show="!(assessment.exists) && !(assessment.updatedVersion)">
                            <button data-ng-click="edit(assessment)" class="boxBtn"><span class="btnIcon icon_sprite icon_save2"></span></button>
                         </div>
                    </td>          
 
                    <td>{{assessment.testName}}</td>
                    <td>{{assessment.subjectCode}}</td>
                    <td>{{assessment.grade}}</td>
                    <td>{{assessment.version}}</td>
                    <td title='{{getAltText(assessment)}}'>{{status(assessment)}}      
                    </td>                    
                   <td class="normalSpace">
                          <div  data-ng-show="(assessment.updatedVersion) && (assessment.exists)">
                           <button data-ng-click="update(assessment)" class="boxBtn"><span class="btnIcon icon_sprite icon_save2"></span></button>
                        </div>                        
                    </td>                       
                 </tr>
    
	            </tbody>
            </table>
        </div>
    </div>
</div>
</div>  

</div>
<div class="clear"></div>
