  <div  data-ng-include src='"resources/testreg/partials/leftnav.html"'></div>
 
    <div class="secContent"> 
    <h5 tabindex="-1">Create/Modify Institutions</h5>

<div class="tabInfo">
    <span>Type Of Institution to create or modify: </span>
    <span data-ng-show="isAllowed('STATE')"><a data-ng-class="{selected : isActiveLink('entities.searchState')}" data-ng-click="goToFormsPage('entities.searchState')" data-enter="goToFormsPage('entities.searchState')" tabindex="0">{{entityNameLabels['State']}}</a> |</span>
    <span data-ng-hide="parentEntity.groupOfStates  || !isAllowed('GROUPOFSTATES')"><a  data-ng-class="{selected : isActiveLink('entities.searchGroupOfStates')}" data-ng-click="goToFormsPage('entities.searchGroupOfStates')" data-enter="goToFormsPage('entities.searchState')" tabindex="0">{{entityNameLabels['GroupOfStates']}}</a> |</span>
    <span data-ng-show="isAllowed('DISTRICT')"><a data-ng-class="{selected : isActiveLink('entities.searchDistrict')}" data-ng-click="goToFormsPage('entities.searchDistrict')" data-enter="goToFormsPage('entities.searchDistrict')" tabindex="0">{{entityNameLabels['District']}}</a> |</span>
    <span data-ng-hide="parentEntity.groupOfDistricts || !isAllowed('GROUPOFDISTRICTS')"><a  data-ng-class="{selected : isActiveLink('entities.searchGroupOfDistricts')}" data-ng-click="goToFormsPage('entities.searchGroupOfDistricts')" data-enter="goToFormsPage('entities.searchGroupOfDistricts')" tabindex="0">{{entityNameLabels['GroupOfDistricts']}}</a> |</span>
    <span data-ng-show="isAllowed('INSTITUTION')"><a data-ng-class="{selected : isActiveLink('entities.searchInstitution')}" data-ng-click="goToFormsPage('entities.searchInstitution')" data-enter="goToFormsPage('entities.searchInstitution')" tabindex="0">{{entityNameLabels['Institution']}}</a> |</span>
    <span data-ng-hide="parentEntity.groupOfInstitutions  || !isAllowed('GROUPOFINSTITUTIONS')"><a  data-ng-class="{selected : isActiveLink('entities.searchGroupOfInstitutions')}" data-ng-click="goToFormsPage('entities.searchGroupOfInstitutions')" data-enter="goToFormsPage('entities.searchGroupOfInstitutions')" tabindex="0">{{entityNameLabels['GroupOfInstitutions']}}</a></span>
</div>
   <div class="clear"></div>
    <div data-ui-view="entities-home-view"></div>

   </div> 
  </div>
 


