
<button tabindex="0" class="boxBtn ng-isolate-scope ng-scope" type="button" data-ng-click="entityExport()">
	<span aria-hidden="true"
		class="btnIcon icon_sprite icon_export ng-class:{ajax_indicator:activeIndicator}"></span>
	<span class="btnText">Export</span>
</button>

<ul class="exportContainer" data-ng-show="IsVisible">
	<li id="this">
		<input type="radio" name="thisPage" data-ng-model="reportType" id="thisPage" tabindex="1" value="currentPage"> 
		 	<label for="thisPage"> Export Current page</label> 
		<input type="radio" name="allResults" data-ng-model="reportType" id="allResults" tabindex="1" value="allResults">
		 	<label for="allResults"> Export all results</label>
	</li>
	<li>
		<input type="radio" name="asCSV" id="asCSV" tabindex="1" data-ng-model="reportFormat" value="csv">
			<label for="asCSV ">As CSV &nbsp;&nbsp;&nbsp;&nbsp;</label> 
		<input type="radio" name="asExcel" id="asExcel" tabindex="1" data-ng-model="reportFormat" value="xls">
		 	<label for="asExcel">As Excel &nbsp;&nbsp;&nbsp;&nbsp;</label></li>
	<li>
		<button class="boxBtn ng-isolate-scope ng-scope" data-ng-click="cancelContainer(reportType,reportFormat)">
			<span aria-hidden="true" class="btnIcon icon_sprite icon_delete2"></span>Cancel
		</button>
		<button data-ng-class="{'disabled': isDisabled}" data-ng-disabled="isAllOptionsChecked(reportType,reportFormat)" data-ng-click="exportSResults(reportType,reportFormat)">
			<span aria-hidden="true" class="btnIcon icon_sprite icon_save2"></span>Submit
		</button>
	</li>
</ul>
