
 <button type="button" type="button" class="mediumWidthBtn"  data-ng-click="exportAllResults('xls')" tabindex="0">
     <span class="btnIcon icon_sprite icon_saveAdd2" aria-hidden="true"></span> <span class="btnText">Export Search Results to Excel</span>
 </button>   
 <button type="button" type="button" class="mediumWidthBtn"  data-ng-click="exportAllResults('csv')" tabindex="0">
     <span class="btnIcon icon_sprite icon_saveAdd2" aria-hidden="true"></span> <span class="btnText">Export Search Results to CSV</span>
 </button>                       
 <button type="button" type="button" class="mediumWidthBtn"  data-ng-click="exportSearchResults('xls')" tabindex="0">
     <span class="btnIcon icon_sprite icon_saveAdd2" aria-hidden="true"></span> <span class="btnText">Export Current Page to Excel</span>
 </button>   
 <button type="button" type="button" class="mediumWidthBtn"  data-ng-click="exportSearchResults('csv')" tabindex="0">
     <span class="btnIcon icon_sprite icon_saveAdd2" aria-hidden="true"></span> <span class="btnText">Export Current Page to CSV</span>
 </button>        
