<div data-ng-repeat="error in errors">
               <div><span class="icon_sprite icon_error error"></span>{{error}}</div>
</div>
           
<div data-ng-form="groupofInstitutionsForm" class="formWrapper">
    <div data-ng-show="groupofInstitutionsForm.$dirty" class="dirtynag">* Warning: You have unsaved changes</div>
    <div class="fieldGroup">
    <h5 tabindex="-1">{{formAction}} {{entityNameLabels['GroupOfInstitutions']}} Information <span class="control-label-required">Indicates required field</span></h5>
        <ul class="entityLayout">
             <li>
                <span> 
                    <label class="control-label-required" for="groupofInstitutions.entityId" title="Group Of Institutions Identifier">{{xwalk('Group Of Institutions Identifier')}}:</label>
                    <input type="text" data-ng-model="groupofInstitutions.entityId" alt="Group Of Institutions Identifier" tabindex="0" />
                
                </span>
            </li>
             <li>
                <span> 
                    <label class="control-label-required" for="groupofInstitutions.entityName" title="Group Of Institutions Name">{{xwalk('Group Of Institutions Name')}}:</label>
                    <input type="text" data-ng-model="groupofInstitutions.entityName" alt="Group Of Institutions Name" tabindex="0" />
                
                </span>
            </li>  
            <li>
                <span> 
                    <label class="control-label-required" for="groupofInstitutions.parentEntityType" title="Parent Entity Type">{{xwalk('Parent Entity Type')}}:</label>
                     <select  data-ng-model="groupofInstitutions.parentEntityType" data-load-parent-entities="{{groupofInstitutions.parentEntityType}}" data-ng-options="entity.entityId as entity.entityName for entity in entities" title="Parent Entity Type" tabindex="0">
                        <option value="">Select...</option>
                    </select>
                </span>
            </li>  
              
            <li>
                <span>
                    <label class="control-label-required" for="groupofInstitutions.parentEntityId" title="Parent External Id">{{xwalk('Parent External Id')}}:</label>
                    <select  data-ng-model="groupofInstitutions.parentId" data-ng-options="entity.id as entity.entityId + ' - ' + entity.entityName for entity in selectedParentEntities | orderBy:'entityId'" data-ng-change="setParentInfoOnChange(groupofInstitutions.parentId)" title="Parent External Id" tabindex="0">
                      <option value="">Select...</option>
                    </select>
                </span>
            </li>    
            <li>
                <span> 
                    <label class="control-label-required" for="groupofInstitutions.stateAbbreviation" title="State Abbreviation">{{xwalk('State Abbreviation')}}:</label>
                    <select data-ng-model="groupofInstitutions.stateAbbreviation" data-ng-options="id.entityId as id.entityId for id in states | orderBy:'entityId'" title="State Abbreviation" tabindex="0">
                       <option value="" >Select...</option>
                    </select>
                </span>
            </li>
            <li>
                <span> 
                </span>
            </li>
        </ul>  

        <button type="button" class="boxBtn" data-ng-show="groupofInstitutionsForm.$dirty" data-ng-click="save(groupofInstitutions)" tabindex="0">
            <span class="btnIcon icon_sprite icon_save2 ng-class:{ajax_indicator:savingIndicator}" aria-hidden="true"></span>
            <span class="btnText">Save</span>
        </button>
     
        <button type="button" class="boxBtn" data-ng-click="cancel()" tabindex="0">
            <span class="btnIcon icon_sprite icon_cancel2" aria-hidden="true"></span>
            <span class="btnText">Cancel</span>
        </button>
    </div>
</div>
<div class="clear"></div>


 