<span class="boxIcon icon_sprite icon_view1"></span>
<div data-ng-repeat="error in errors">
     <div><span class="icon_sprite icon_error error"></span>{{error}}</div>
</div>
<div class="boxTitle"><h2>{{entityNameLabels['Institution']}} Search</h2></div>
<div>
	<div data-searchable data-search-url="'institution'"  data-search-params="searchParams" data-search-response="searchResponse">
		<div class="fieldGroup">
			<h5>Search Filters</h5>
			<ul class="entityLayout">
           <li>
                <span class="entity-auto-complete">
                   <label class="control-label" for="searchParams.entityId">{{xwalk('Institution Identifier')}}:</label>
                   <input institutions-search-auto-complete type="text" 
                    placeholder="Search..." 
                    data-ng-model="entityId"
                    data-typeahead="entity as entity.entityId+ ' - ' + entity.entityName for entity in filterInstitutions($viewValue, 20, true)" 
                    data-typeahead-wait-ms="200" 
                    data-typeahead-editable="true" 
                    data-typeahead-input-formatter="formatInstitutionsLabelId($model)"
                    data-typeahead-on-select="changeInstitutionsId($item)" />  
                 </span>                              
            </li>
            <li>
              <span class="entity-auto-complete">
                   <label class="control-label" for="searchParams.entityName">{{xwalk('Name of Institution')}}:</label>
                   <input institutions-search-auto-complete type="text" 
                    placeholder="Search..." 
                    data-ng-model="entityName"
                    data-typeahead="entity as entity.entityName+ ' - ' + entity.entityId for entity in filterInstitutions($viewValue, 20, false)" 
                    data-typeahead-wait-ms="200" 
                    data-typeahead-editable="true" 
                    data-typeahead-input-formatter="formatInstitutionsLabelName($model)"
                    data-typeahead-on-select="changeInstitutionsName($item)" />  
                 </span>                             
            </li>

            <!-- using size of 3 which includes the "Select..." -->
            <div data-ng-hide="states.length < 3">
                <li>
                    <span>
                        <label class="control-label" for="searchParams.stateAbbreviation">{{xwalk('State Abbreviation')}}:</label>
                         <select data-ng-model="searchParams.stateAbbreviation" data-ng-options="id.entityId as id.entityId for id in states | orderBy:'entityId'">
                             <option value="">Select...</option>
                         </select>
                    </span>
                </li>
            </div>

			</ul>
			<button type="button" type="button" class="boxBtn" data-search-on-click	data-active-indicator="searchResponse.searching">
				<span class="btnIcon icon_sprite icon_reTry2 ng-class:{ajax_indicator:activeIndicator}"></span>
				<span class="btnText">Search</span>
			</button>
			<button type="button" type="button" class="boxBtn"	data-ng-click="addInstitution()">
				<span class="btnIcon icon_sprite icon_saveAdd2"></span> <span class="btnText">New</span>
			</button>		
			 <div data-export="institutions"></div>  			
		</div>
       	
		<div data-pageable data-paging-info="searchResponse"	data-search-params="searchParams" data-change-page="changePage()">
			<table class="dataTable">
				<colgroup>
					<col>
					<col>
					<col>
                    <col>
                    <col>
                    <col>
                    <col class="doubleActionColumn">                    
				</colgroup>
				<tr>
					
					<th data-sort-on-click data-sort-column="entityId" class="headerSortUp">{{xwalk('Institution Identifier')}}</th>
					<th data-sort-on-click data-sort-column="entityName">{{xwalk('Name of Institution')}}</th>
					<th data-sort-on-click data-sort-column="parentEntityType" >{{xwalk('Parent Entity Type')}}</th>
					<th data-sort-on-click data-sort-column="nationwideIdentifier" >{{xwalk('NCES Institution Id')}}</th>
                    <th data-sort-on-click data-sort-column="parentEntityId">{{xwalk('Parent Entity Name')}}</th>
					<th data-sort-on-click data-sort-column="stateAbbreviation" >{{xwalk('State Abbreviation')}}</th>
	               <th></th>
				</tr>
				<tr data-ng-repeat="institution in searchResponse.searchResults">

    				<td>{{institution.entityId}}</td>
					<td>{{institution.entityName}}</td>
					<td>{{entityNameLabels[entityHierarchyRef[institution.parentEntityType]]}}</td>
					<td>{{institution.nationwideIdentifier}}</td>
					<td class="ng-class:{ajax_indicator:savingIndicator}">{{institution.parentId | parentNameFilter:institution.parentEntityType:parentEntities}}</td>
					<td>{{institution.stateAbbreviation}}</td>
                    <td class="normalSpace">
                        <div class="tableButtonGroup">
                            <button data-ng-click="edit(institution)" class="boxBtn"><span class="btnIcon icon_sprite icon_edit2"></span></button>
                            <button data-delete-confirmation="{{institution.id}}" class="boxBtn"><span class="btnIcon icon_sprite icon_delete2"></span></button>
                        </div>
                    </td>					
				</tr>
			</table>
		</div>
		<div data-load-parent-names></div>
	</div>
</div>
<div class="clear"></div>
