<div data-ng-repeat="error in errors">
     <div><span class="icon_sprite icon_error error"></span>{{error}}</div>
</div>
<br><br><br>           
<div data-ng-form="proctorForm" class="formWrapper">
    <div data-ng-show="proctorForm.$dirty" class="dirtynag">* Warning: You have unsaved changes</div>
    <div class="fieldGroup">
    <h5>Proctor Information<span class="control-label-required">Indicates required field</span></h5>
    
    <div class="home"><div class="testslot"><h2>Proctor Affinity</h2></div></div>
        <div class="tableWrapper">
            <table class="assessmentTable" style="width:50%;margin:auto">
                <colgroup>
                        <col>
                        <col>
                        <col> 
                        <col class="actionColumn">
                </colgroup>
                <tbody>
                    <tr>
                        <th>Type</th>
                        <th>Value</th>
                        <th>Strict</th>
                        <th>
                            <div class="tableButtonGroup">
                              <button data-ng-click="addAffinity()" class="boxBtn" ><span class="btnIcon icon_sprite icon_saveAdd2"></span></button>
                            </div>
                        </th>
                    </tr>
                    <tr data-ng-repeat="affinity in proctor.affinities">
                        <td>
                            <select  data-ng-model="affinity.type"  data-ng-change="setAffinities($index, affinity.type)" data-ng-options="affinityType.id as affinityType.id for affinityType in affinityTypes" >
                                <option value="">Select...</option>
                            </select>
                        </td>
                        <td>
                            <select  data-ng-model="affinity.value"  data-ng-options="affinityValue.id as affinityValue.name for affinityValue in affinityValues[$index]" >
                                <option value="">Select...</option>
                            </select>
                        </td>      
                                             
                        <td>
                            <input type="checkbox" data-ng-model="affinity.rule" data-ng-true-value="STRICT" data-ng-false-value="NONSTRICT" /> 
                        </td>
                        <td><div class="tableButtonGroup">
                                <button data-ng-click="removeAffinity($index)" class="boxBtn"><span class="btnIcon icon_sprite icon_delete2"></span></button>
                         </div> 
                         </td>
                    </tr>
              </tbody>
            </table>
        </div>
    
     <div class="home"><div class="testslot"><hr/></div></div>
        <div class="home"><div class="testslot"><h2>Availability Time Periods</h2></div></div>
        <div class="tableWrapper">
        	<table class="assessmentTable" style="width:75%;margin:auto">
        		<colgroup>
	                    <col>
	                    <col>
	                    <col> 
	                    <col>
	                    <col>
	                    <col class="actionColumn">
	            </colgroup>
	            <tbody>
	            	<tr>
	                    <th style="width:30%" data-ng-class="{'control-label-required' : proctor.availabilityWindow && proctor.availabilityWindow.length > 0}">Start Time</th>
	                    <th style="width:30%" data-ng-class="{'control-label-required' : proctor.availabilityWindow && proctor.availabilityWindow.length > 0}">End Time</th>
	                    <th style="width:20%" data-ng-class="{'control-label-required' : proctor.availabilityWindow && proctor.availabilityWindow.length > 0}">Availability</th>
	                    <th>
		                    <div class="tableButtonGroup">
	                          <button data-ng-click="addAvailabilityWindow()" class="boxBtn" ><span class="btnIcon icon_sprite icon_saveAdd2"></span></button>
	                        </div>
		                </th>
	                </tr>
	                <tr data-ng-repeat="(index, availabilityWindow) in proctor.availabilityWindow">
	                	<td>
	                		<div class="centerDiv datepicker"><span class="icon-chevron-calendar"></span>
		                		<input style="width:150px"
		                			type="text"  
		                			name="proctor.availabilityWindow[$index].startDateComponent"  
		                			data-datepicker-popup="{{format}}"  
		                			data-show-weeks="false" 
		                			data-is-open="proctor.availabilityWindow[$index].startDateComponentOpened" 
		                			data-ng-model="proctor.availabilityWindow[$index].startDateComponent"/>
	                		</div>
	                		<div class="centerDiv">
	                			<input style="width:80px" data-ng-model="proctor.availabilityWindow[$index].startTimeComponent" data-ui-timepicker/>
	                		</div>
	                	</td>
	                	<td>
	                		<div class="centerDiv datepicker"><span class="icon-chevron-calendar"></span>
	                			<input style="width:150px"
	                				type="text" 
	                				name="proctor.availabilityWindow[$index].endDateComponent"     
	                				data-datepicker-popup="{{format}}"  
	                				data-show-weeks="false" 
	                				data-is-open="proctor.availabilityWindow[$index].endDateComponentOpened" 
	                				data-ng-model="proctor.availabilityWindow[$index].endDateComponent"/>
               				</div>
               				<div class="centerDiv">
	                			<input style="width:80px" data-ng-model="proctor.availabilityWindow[$index].endTimeComponent" data-ui-timepicker/>
	                		</div>
             			</td>
	                	
	                	<td><div class="centerDiv">
	                		<select name="proctor.availabilityWindow[$index].availability" data-ng-model="proctor.availabilityWindow[$index].availability" data-ng-options="availability.id as availability.name for availability in availabilityChoices | orderBy:'id'">
                       			<option value="" >Select...</option>
                    		</select>
	                		</div>
	                	</td>
	                	<td><div class="tableButtonGroup">
                                <button data-ng-click="removeAvailabilityWindow($index)" class="boxBtn"><span class="btnIcon icon_sprite icon_delete2"></span></button>
                         </div> 
                         </td>
	                </tr>
	          </tbody>
        	</table>
        </div>
      <button type="button" class="boxBtn" data-ng-show="proctorForm.$dirty" data-ng-click="save(proctor)">
            <span class="btnIcon icon_sprite icon_save2 ng-class:{ajax_indicator:savingIndicator}" ></span>
            <span class="btnText">Save</span>
        </button>
     
        <button type="button" class="boxBtn" data-ng-click="cancel()">
            <span class="btnIcon icon_sprite icon_cancel2" ></span>
            <span class="btnText">Cancel</span>
        </button>
        </div>
        
        

</div>
<div class="clear"></div>

 