  <div  data-ng-include src='"resources/testreg/partials/leftnav.html"'></div>

 <div class="secContent"> 
<div data-ng-repeat="error in errors">
    <div><span class="icon_sprite icon_error error"></span>{{error}}</div>
</div>
           
<div data-ng-form="studentForm" class="studentFormWrapper">
    <div data-ng-show="studentForm.$dirty" class="dirtynag">* Warning: You have unsaved changes</div>
    <div class="fieldGroup">
    <h5 class="studentLayout">{{formAction}} {{entityNameLabels['Student']}} Information <span class="control-label-required">Indicates required field</span></h5>
        <ul class="studentLayout">
            <li>
                <span> 
                    <label class="control-label-required" for="student.stateAbbreviation">{{xwalk('State Abbreviation')}}:</label>
                     <select  data-ng-model="student.stateAbbreviation" data-ng-options="state.entityId as state.entityId for state in states | orderBy:'entityId'" >
                      <option value="">Select...</option>
                    </select>
                </span>
            </li>     
           <li>
                <span class="district-auto-complete">
                    <label class="control-label" for="student.districtIdentifier">{{xwalk('District Identifier')}}:</label>
                    <input data-district-auto-complete type="text" 
                    placeholder="Search..." 
                    data-ng-model="district"
                    data-typeahead="entity as entity.entityId + ' - ' + entity.entityName for entity in filterDistricts($viewValue, 10)" 
                    data-typeahead-wait-ms="200" 
                    data-typeahead-editable="true" 
                    data-typeahead-input-formatter="formatDistrictLabel($model)"
                    data-typeahead-on-select="changeDistrict({district:$item})" />  
                 </span>               
            </li>     
            <li>
                <span class="institution-auto-complete">
                    <label class="control-label-required" for="student.institutionIdentifier">{{xwalk('Institution Identifier')}}:</label>
                    <input data-institution-auto-complete type="text" 
                    placeholder="Search..." 
                    data-ng-model="institution"
                    data-typeahead="entity as entity.entityId + ' - ' + entity.entityName for entity in filterInstitutions($viewValue, 10)" 
                    data-typeahead-wait-ms="200" 
                    data-typeahead-editable="true" 
                    data-typeahead-input-formatter="formatInstitutionLabel($model)"
                    data-typeahead-on-select="changeInstitution({institution:$item})" />  
                 </span>               
            </li>
            <li>
                <span> 
                    <label class="control-label-required" for="student.entityId" >{{xwalk('SSID')}}:</label>
                    <input type="text" name="student.entityId" data-ng-model="student.entityId" />
                </span>
            </li>                  
            <li>
                <span> 
                    <label class="control-label" for="student.firstName" >{{xwalk('First Name')}}:</label>
                    <input type="text" name="student.firstName" data-ng-model="student.firstName" />
                </span>
            </li> 
            <li>
                <span> 
                    <label class="control-label" for="student.lastName" >{{xwalk('Last Name')}}:</label>
                    <input type="text" name="student.lastName" data-ng-model="student.lastName" />
                </span>
            </li>
            <li>
                <span> 
                    <label class="control-label" for="student.middleName" >{{xwalk('Middle Name')}}:</label>
                    <input type="text" name="student.middleName" data-ng-model="student.middleName" />
                </span>
            </li>                
             <li>
                <span class="datepicker"> 
                    <label class="control-label" for="student.birthDate" >{{xwalk('Birth Date')}}:</label>
                    <span class="icon-chevron-calendar" style="width:14px"></span>
                    <input type="text" name="student.birthDate" data-date-parser data-datepicker-popup="{{format}}"  data-is-open="birthDate.opened" data-show-weeks="false"  data-ng-model="student.birthDate"/>
                </span>
            </li> 
            <li>
                <span> 
                    <label class="control-label-required" for="student.externalSsid" >{{xwalk('Alternate SSID')}}:</label>
                    <input type="text" name="student.externalSsid" data-ng-model="student.externalSsid" />
                </span>
            </li>          
            <li>
                <span> 
                    <label class="control-label-required" for="student.gender">{{xwalk('Sex')}}:</label>
                     <select  data-ng-model="student.gender" >
                        <option value="">Select...</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </span>
            </li>      
            <li>
                <span> 
                    <label class="control-label" for="student.hispanicOrLatino" >{{xwalk('Hispanic or Latino Ethnicity')}}:</label>
                    <input type="checkbox" name="student.hispanicOrLatino" data-ng-model="student.hispanicOrLatino" data-ng-true-value="YES" data-ng-false-value="NO" />
                </span>
            </li>
            <li>
                <span> 
                    <label class="control-label-required" for="student.gradeLevelWhenAssessed">{{xwalk('Grade Level When Assessed')}}:</label>
                     <select  data-ng-model="student.gradeLevelWhenAssessed" 
                     		  data-ng-options="grade.id as grade.text for grade in grades">
                      <option value="">Select...</option>
                    </select>
                </span>
            </li>                         
            <li>
                <span> 
                    <label class="control-label" for="student.americanIndianOrAlaskaNative" >{{xwalk('American Indian Or Alaska Native')}}:</label>
                    <input type="checkbox" name="student.americanIndianOrAlaskaNative" data-ng-model="student.americanIndianOrAlaskaNative" data-ng-true-value="YES" data-ng-false-value="NO" />
                </span>
            </li>         
             <li>      
                <span> 
                    <label class="control-label" for="student.languageCode" >{{xwalk('Language Code')}}:</label>

                   <select data-ng-model="student.languageCode" data-ng-options="language.id as language.text for language in languages" >
                      <option value="">Select...</option>
                    </select>                    
                </span>  
             </li>                                  
            <li>   
                <span> 
                    <label class="control-label" for="student.asian" >{{xwalk('Asian')}}:</label>
                    <input type="checkbox" name="student.asian" data-ng-model="student.asian" data-ng-true-value="YES" data-ng-false-value="NO" />
                </span>
            </li>
             <li>     
                <span class="datepicker"> 
                    <label class="control-label" for="student.firstEntryDateIntoUsSchool" >{{xwalk('First Entry Date Into US School')}}:</label>
                    <span class="icon-chevron-calendar" style="width:14px"></span>
                    <input type="text" name="student.firstEntryDateIntoUsSchool" data-date-parser data-datepicker-popup="{{format}}"  data-is-open="firstEntryDateIntoUsSchool.opened" data-show-weeks="false" readonly="readonly" data-ng-model="student.firstEntryDateIntoUsSchool"/>
                </span>
             </li>           
            <li>
                <span> 
                    <label class="control-label" for="student.blackOrAfricanAmerican" >{{xwalk('Black Or African American')}}:</label>
                    <input type="checkbox" name="student.blackOrAfricanAmerican" data-ng-model="student.blackOrAfricanAmerican" data-ng-true-value="YES" data-ng-false-value="NO" />
                </span>  
            </li>
             <li>
                <span class="datepicker"> 
                    <label class="control-label" for="student.lepEntryDate" >{{xwalk('Limited English Proficiency Entry Date')}}:</label>
                    <span class="icon-chevron-calendar" style="width:14px"></span>
                    <input type="text" name="student.lepEntryDate" data-date-parser data-datepicker-popup="{{format}}"  data-is-open="lepEntryDate.opened" data-show-weeks="false" readonly="readonly" data-ng-model="student.lepEntryDate"/>
                </span>
             </li>       
            <li>            
                <span> 
                    <label class="control-label" for="student.white" >{{xwalk('White')}}:</label>
                    <input type="checkbox" name="student.white" data-ng-model="student.white" data-ng-true-value="YES" data-ng-false-value="NO" />
                </span> 
            </li>
             <li>
                <span class="datepicker"> 
                    <label class="control-label" for="student.lepExitDate" >{{xwalk('LEP Exit Date')}}:</label>
                    <span class="icon-chevron-calendar" style="width:14px"></span>
                    <input type="text" name="student.lepExitDate" data-date-parser data-datepicker-popup="{{format}}"  data-is-open="lepExitDate.opened" data-show-weeks="false" readonly="readonly" data-ng-model="student.lepExitDate" />
                </span>
             </li>            
            <li>
                <span> 
                    <label class="control-label" for="student.nativeHawaiianOrPacificIsland" >{{xwalk('Native Hawaiian Or Other Pacific Islander')}}:</label>
                    <input type="checkbox" name="student.nativeHawaiianOrPacificIsland" data-ng-model="student.nativeHawaiianOrPacificIsland" data-ng-true-value="YES" data-ng-false-value="NO" />
                </span>
            </li>
             <li>   
                <span> 
                    <label class="control-label" for="student.title3ProgramType" >{{xwalk('Title III Language Instruction Program Type')}}:</label>
                    <select  data-ng-model="student.title3ProgramType" data-ng-options="progType.name as progType.description for progType in title3ProgramType" >
                      <option value="">Select...</option>
                    </select>
                </span> 
             </li>             
            <li> 
                <span> 
                    <label class="control-label" for="student.twoOrMoreRaces" >{{xwalk('Demographic Race Two Or More Races')}}:</label>
                    <input type="checkbox" name="student.twoOrMoreRaces" data-ng-model="student.twoOrMoreRaces" data-ng-true-value="YES" data-ng-false-value="NO" />
                </span> 
            </li>
             <li> 
                <span> 
                    <label class="control-label" for="student.primaryDisabilityType" >{{xwalk('Primary Disability Type')}}:</label>
                    <select  data-ng-model="student.primaryDisabilityType" data-ng-options="disabilityType.name as disabilityType.name for disabilityType in primaryDisabilityType" >
                      <option value="">Select...</option>
                    </select>
                </span>                                                                                                                                  
            </li>            
            <li>
                <span> 
                    <label class="control-label-required" for="student.iDEAIndicator" >{{xwalk('IDEA Indicator')}}:</label>
                    <select  data-ng-model="student.iDEAIndicator" data-ng-options="ms.name as ms.name for ms  in iDEAIndicator" >
                        <option value="">Select...</option>
                    </select>
                </span>
            </li>
            <li>               
                <span> 
                    <label class="control-label-required" for="student.section504Status" >{{xwalk('Section 504 Status')}}:</label>
                    <select  data-ng-model="student.section504Status" data-ng-options="secStatus.name as secStatus.name for secStatus in section504Status" >
                      <option value="">Select...</option>
                    </select>
                </span>
            </li>               
            <li>
                <span> 
                    <label class="control-label-required" for="student.lepStatus" >{{xwalk('LEPStatus')}}:</label>
                    <select  data-ng-model="student.lepStatus" data-ng-options="ms.name as ms.name for ms in lepStatus" >
                        <option value="">Select...</option>
                    </select>                    
                    
                </span>
            </li>
            <li>            
                <span> 
                    <label class="control-label" for="student.title3ProgressStatus" >{{xwalk('English Language Proficiency Level')}}:</label>
                     <input type="text" name="student.title3ProgressStatus" data-ng-model="student.title3ProgressStatus" />

                </span> 
             </li>
            <li>
                <span> 
                    <label class="control-label-required" for="student.disadvantageStatus" >{{xwalk('Economic Disadvantage Status')}}:</label>
                    <select  data-ng-model="student.disadvantageStatus" data-ng-options="ms.name as ms.name for ms in disadvantageStatus" >
                        <option value="">Select...</option>
                    </select>                 
                </span> 
            </li>
            <li>            
                <span> 

                </span> 
             </li>
            <li>                
                <span> 
                    <label class="control-label" for="student.migrantStatus" >{{xwalk('Migrant Status')}}:</label>
                    <select  data-ng-model="student.migrantStatus" data-ng-options="ms.name as ms.name for ms in migrantStatus" >
                      <option value="">Select...</option>
                    </select>
                </span>                                                                  
            </li> 
            <li>
                <span></span>
            </li> 
        </ul>  
        <br>
        <div data-accommodation-editor></div>
        <br>
        
        <div data-ng-show="eligibleAssessments.length > 0">
        <h5 class="h5Accommodations">Eligible {{entityNameLabels['Assessments']}}</h5>
        <table class="dataTable">
           <colgroup>
               <col style="width:60%">
               <col>
               <col>
               <col>
               <col>
           </colgroup>
           <tr>     
               <th>Test Name</th>
               <th>Version</th>
               <th>Subject Code</th>
               <th>Status</th>
               <th>Opt-out</th>
           </tr>
            <tr data-ng-repeat="assessment in eligibleAssessments">
                <td>{{assessment.testName}}</td>
                <td>{{assessment.version}}</td>
                <td>{{assessment.subjectCode}}</td>
                <td>{{assessment.id | testStatusFilter:testStatuses}}</td>
                <td><input style="width:80px;" data-ng-show="!hasStatus(assessment.id)" type="checkbox" data-ng-model="studentTestStatuses[assessment.id]" data-ng-true-value="OPTED_OUT" data-ng-false-value="" /> </td>
            </tr>
        </table>
        </div>
        <div data-ng-hide="eligibleAssessments.length > 0">
            <h5 class="h5Accommodations">Not Eligible for any {{entityNameLabels['Assessments']}}</h5>
        </div>
        
        <br>
        <button type="button" class="boxBtn" data-ng-show="studentForm.$dirty" data-ng-click="save(student)">
            <span class="btnIcon icon_sprite icon_save2 ng-class:{ajax_indicator:savingIndicator}" ></span>
            <span class="btnText">Save</span>
        </button>
        <button type="button" class="boxBtn" data-ng-click="cancel()">
            <span class="btnIcon icon_sprite icon_cancel2" ></span>
            <span class="btnText">Cancel</span>
        </button>
    </div>
</div>  
</div>  

</div>
<div class="clear"></div>

 