 <div  data-ng-include src='"resources/testreg/partials/leftnav.html"'></div>

 <div class="secContent"> 
 <span class="boxIcon icon_sprite icon_view1"></span>
<div data-ng-repeat="error in errors">
    <div><span class="icon_sprite icon_error error"></span>{{error}}</div>
</div>


<div class="boxTitle"><h2 tabindex="-1">{{entityNameLabels['StudentGroups']}} Search</h2></div>
<div>
    <div data-searchable data-search-url="'studentGroups'" data-search-post-process="postProcess(response)" data-search-params="searchParams" data-search-response="searchResponse">
        <div class="fieldGroup">
            <h5 tabindex="-1">Search Filters</h5>
            <ul>
            <li>
                <span> 
                    <label class="control-label" for="searchParams.stateAbbreviation" title="State Abbreviation">{{xwalk('State Abbreviation')}}:</label>
                     <select  data-ng-model="searchParams.stateAbbreviation" data-ng-change="loadDistricts(state.entityId)" data-ng-options="state.entityId as state.entityId for state in states | orderBy:'entityId'" title="State Abbreviation" tabindex="0">
                      <option value="">Select...</option>
                    </select>
                </span>
            </li>      
            <li>
                <span> 
                    <label class="control-label" for="searchParams.studentGroupName" title="Student Group Name">{{xwalk('Student Group Name')}}:</label>
                    <input type="text" name="entityId" data-ng-model="searchParams.studentGroupName" alt="Student Group Name" tabindex="0" />
                </span>
            </li>                 
            <li>
                <span class="district-auto-complete">
                    <label class="control-label" for="searchParams.districtIdentifier" title="District Identifier">{{xwalk('District Identifier')}}:</label>
				    <input data-district-auto-complete-student-group type="text" 
				    placeholder="Search..." 
				    data-ng-model="district"
				    data-typeahead="entity as entity.entityId + ' - ' + entity.entityName for entity in filterDistricts($viewValue, 10)" 
				    data-typeahead-wait-ms="200" 
				    data-typeahead-editable="true" 
				    data-typeahead-input-formatter="formatDistrictLabel($model)"
				    data-typeahead-on-select="changeDistrict({district:$item})" 
				    alt="Responsible District Identifier" 
				    tabindex="0" />  
				 </span>               
            </li>     
            <li>
                <span class="district-auto-complete">
                    <label class="control-label" for="searchParams.institutionIdentifier" title="Institution Identifier">{{xwalk('Institution Identifier')}}:</label>
                    <input data-institution-auto-complete-student-group type="text" 
                    placeholder="Search..." 
                    data-ng-model="institution"
                    data-typeahead="entity as entity.entityId + ' - ' + entity.entityName for entity in filterInstitutions($viewValue, 10)" 
                    data-typeahead-wait-ms="200" 
                    data-typeahead-editable="true" 
                    data-typeahead-input-formatter="formatInstitutionLabel($model)"
                    data-typeahead-on-select="changeInstitution({institution:$item})" 
                    alt="Institution Identifier" 
                    tabindex="0" />  
                 </span>               
            </li>
            <li>
                <span class="group-owner-auto-complete">
                    <label class="control-label" for="searchParams.ownerEmail" title="Owner Name">{{xwalk('Owner Name')}}:</label>
				    <input data-group-owner-auto-complete-student-group type="text" 
				    placeholder="Search..." 
				    data-ng-model="ownerUser"
				    data-typeahead="owner as owner.lastName + ', ' + owner.firstName for owner in filterOwners($viewValue, 10)" 
				    data-typeahead-wait-ms="200" 
				    data-typeahead-editable="true" 
				    data-typeahead-input-formatter="formatOwnerLabel($model)"
				    data-typeahead-on-select="changeOwnerEmail({ownerUser:$item})" 
				    alt="Owner Name" 
				    tabindex="0" />  
				 </span>               
            </li>
            <li>
                <span> 
                    <label class="control-label" for="searchParams.ownerEmail" title="Owner Email">{{xwalk('Owner Email')}}:</label>
                    <input type="text" name="ownerEmail" data-ng-model="searchParams.ownerEmail" alt="Owner Email" tabindex="0" />
                </span>
            </li>                       
            <li><span></span></li>
            </ul>
            <div class="buttonRow">
            <button type="button" type="button" class="boxBtn" data-search-on-click  data-active-indicator="searchResponse.searching" tabindex="0">
                <span class="btnIcon icon_sprite icon_search ng-class:{ajax_indicator:activeIndicator}" aria-hidden="true"></span>
                <span class="btnText">Search</span>
            </button>
            <button type="button" type="button" class="boxBtn"  data-ng-click="createNew()" tabindex="0">
                <span class="btnIcon icon_sprite icon_saveAdd2" aria-hidden="true"></span> <span class="btnText">Add New StudentGroup</span>
            </button>	
            <div class="positioningContainer" data-export="studentGroups"></div>
            </div>	            
        </div>
        
        <div data-pageable data-paging-info="searchResponse"  data-search-params="searchParams" data-change-page="changePage()">
            <table class="dataTable" data-accessible-table role="grid">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col> 
                    <col>
                    <col>    
                    <col class="doubleActionColumn">                         
                </colgroup>
                <tr role="row">
                    <th data-sort-on-click data-sort-column="studentGroupName" class="headerSortUp fixedWidth80" scope="col" id="studentGroupNameHeader" title="Student Group Name">{{xwalk('Student Group Name')}}</th>
                    <th data-sort-on-click data-sort-column="districtIdentifier" class="fixedWidth100" scope="col" id="organizationNameHeader" title="Organization Name">{{xwalk('Organization Name')}}</th>
                    <th data-sort-on-click data-sort-column="institutionIdentifier" scope="col" id="nameOfInstitutionHeader" title="Name of Institution">{{xwalk('Name of Institution')}}</th>
                    <th data-sort-on-click data-sort-column="stateAbbreviation" style="width:100px" scope="col" id="stateAbbrevHeader" title="State Abbreviation">{{xwalk('State Abbreviation')}}</th>
                    <th data-sort-on-click data-sort-column="ownerEmail" scope="col" id="emailHeader" title="Email">{{xwalk('Email')}}</th>    
                    <th scope="col" id="firstNameHeader" title="First Name">{{xwalk('First Name')}}</th>                        
                    <th scope="col" id="lastNameHeader" title="Last Name">{{xwalk('Last Name')}}</th>    
                    <th scope="col" id="actionHeader" title="Edit"></th>                                 
                </tr>
                <tr data-ng-repeat="studentGroup in searchResponse.searchResults" role="row">
                    <td role="gridcell" aria-labelledby="studentGroupName">{{studentGroup.studentGroupName}}</td>                               
                    <td class="ng-class:{ajax_indicator:savingIndicator}" role="gridcell" aria-labelledby="districtIdentifier">{{studentGroup.districtEntityMongoId | parentNameFilter:"DISTRICT":parentEntities}}</td>
                    <td class="ng-class:{ajax_indicator:savingIndicator}" role="gridcell" aria-labelledby="institutionIdentifier">{{studentGroup.institutionEntityMongoId | parentNameFilter:"INSTITUTION":parentEntities}}</td>
                    <td role="gridcell" aria-labelledby="stateAbbreviation">{{studentGroup.stateAbbreviation}}</td>
                    <td role="gridcell" aria-labelledby="ownerEmail">{{studentGroup.ownerEmail}}</td>       
                    <td role="gridcell" aria-labelledby="firstNameHeader">{{studentGroup.ownerFirstName}}</td>
                    <td role="gridcell" aria-labelledby="lastNameHeader">{{studentGroup.ownerLastName}}</td>       
                    <td class="normalSpace" role="gridcell" aria-labelledby="actionHeader">
                        <div class="tableButtonGroup">
                            <button data-ng-click="edit(studentGroup)" class="boxBtn" tabindex="0"><span class="btnIcon icon_sprite icon_edit2" aria-hidden="true"></span></button>
                            <button data-delete-confirmation="{{studentGroup.id}}" class="boxBtn" tabindex="0"><span class="btnIcon icon_sprite icon_delete2" aria-hidden="true"></span></button>
                        </div>
                    </td>                              
                </tr>
            </table>
        </div>
        <div data-load-parent-names></div>
    </div>
</div>
</div>  
<div class="clear"></div>
