 <div  data-ng-include src='"resources/testreg/partials/leftnav.html"'></div>

 <div class="secContent"> 
 <span class="boxIcon icon_sprite icon_view1"></span>
<div data-ng-repeat="error in errors">
    <div><span class="icon_sprite icon_error error"></span>{{error}}</div>
</div>


<div class="boxTitle"><h2 tabindex="-1">{{entityNameLabels['Student']}} Search</h2></div>
<div>
    <div data-searchable data-search-url="'student'" data-search-params="searchParams" data-search-response="searchResponse">
        <div class="fieldGroup">
            <h5 tabindex="-1">Search Filters</h5>
                <ul>                

            <li>
                <span> 
                    <label class="control-label" for="searchParams.stateAbbreviation" title="State Abbreviation">{{xwalk('State Abbreviation')}}:</label>
                     <select  data-ng-model="searchParams.stateAbbreviation" data-ng-change="loadDistricts(state.entityId)" data-ng-options="state.entityId as state.entityId for state in states | orderBy:'entityId'" title="State Abbreviation" tabindex="0">
                      <option value="">Select...</option>
                    </select>
                </span>
            </li>       
            <li>
                <span class="district-auto-complete">
                    <label class="control-label" for="searchParams.districtIdentifier" title="District Identifier">{{xwalk('District Identifier')}}:</label>
				    <input data-district-auto-complete type="text" 
				    placeholder="Search..." 
				    data-ng-model="district"
				    data-typeahead="entity as entity.entityId + ' - ' + entity.entityName for entity in filterDistricts($viewValue, 999999)" 
				    data-typeahead-wait-ms="200" 
				    data-typeahead-editable="true" 
				    data-typeahead-input-formatter="formatDistrictLabel($model)"
				    data-typeahead-on-select="changeDistrict({district:$item})" 
				    alt="District Identifier" 
				    tabindex="0" />  
				 </span>               
            </li>     
            <li>
                <span class="district-auto-complete">
                    <label class="control-label" for="searchParams.institutionIdentifier" title="Institution Identifier">{{xwalk('Institution Identifier')}}:</label>
                    <input data-institution-auto-complete type="text" 
                    placeholder="Search..." 
                    data-ng-model="institution"
                    data-typeahead="entity as entity.entityId + ' - ' + entity.entityName for entity in filterInstitutions($viewValue, 10)" 
                    data-typeahead-wait-ms="200" 
                    data-typeahead-editable="true" 
                    data-typeahead-input-formatter="formatInstitutionLabel($model)"
                    data-typeahead-on-select="changeInstitution({institution:$item})" 
                    alt="Institution Identifier" 
                    tabindex="0" />  
                 </span>               
            </li>   
            <li>
                <span> 
                    <label class="control-label" for="searchParams.studentIdentifier" title="SSID">{{xwalk('SSID')}}:</label>
                    <input type="text" name="entityId" data-ng-model="searchParams.entityId" alt="SSID" tabindex="0" />
                </span>
            </li>     
            <li>
                <span> 
                    <label class="control-label" for="searchParams.lastName" title="Last Name">{{xwalk('Last Name')}}:</label>
                    <input type="text" name="lastName" data-ng-model="searchParams.lastName" alt="lastName" tabindex="0" />
                </span>
            </li>     
            <li>
                <span> 
                    <label class="control-label" for="searchParams.firstName" title="First Name">{{xwalk('First Name')}}:</label>
                    <input type="text" name="firstName" data-ng-model="searchParams.firstName" alt="firstName" tabindex="0" />
                </span>
            </li>
            <li>
                <span> 
                    <label class="control-label" for="searchParams.grade" title="Grade Level When">{{xwalk('Grade Level When ')}}<br>Assessed:</label>
                     <select  data-ng-model="searchParams.gradeLevelWhenAssessed" data-ng-options="grade.id as grade.text for grade in grades" title="Grade Level When" tabindex="0">
                      <option value="">Select...</option>
                    </select>
                </span>
            </li> 
            <li><span></span></li>                          
            </ul>
            <ul class="one-column">
            <li>
                <span> 
                    <label  for="searchParams['student.inValidAccommodationsSubject']" title="Show only those students with accommodations for assessments for which they are not registered">Show only those students with accommodations for assessments for which they are not registered</label>
                     <select  data-ng-model="searchParams['student.inValidAccommodationsSubject']" title="Show only those students with accommodations for assessments for which they are not registered" tabindex="0">
                      <option value="">Select...</option>
                      <option value="true">Yes</option>
                    </select>
                </span>
            </li> 
            </ul>
            <div class="buttonRow">
            <button type="button" type="button" class="boxBtn" data-search-on-click  data-active-indicator="searchResponse.searching" tabindex="0">
                <span class="btnIcon icon_sprite icon_search ng-class:{ajax_indicator:activeIndicator}" aria-hidden="true"></span>
                <span class="btnText">Search</span>
            </button>
            <button type="button" type="button" class="boxBtn"  data-ng-click="createNew()" tabindex="0">
                <span class="btnIcon icon_sprite icon_saveAdd2" aria-hidden="true"></span> <span class="btnText">Add New Student</span>
            </button>
            <div class="positioningContainer">
						<button tabindex="0" 
							class="boxBtn ng-isolate-scope ng-scope"
							type="button" data-ng-click="studentExport()">
							<span aria-hidden="true"
								class="btnIcon icon_sprite icon_export ng-class:{ajax_indicator:activeIndicator}"></span>
							<span class="btnText">Export</span>
						</button>
						
						<ul class="exportContainer" data-ng-show="IsVisible">
							<li id="this"><input type="radio" name="thisPage" data-ng-model = "reportType"
								id="thisPage" tabindex="1" value="currentPage"> <label
								for="thisPage"> Export Current page</label>
								 <input type="radio" name="allResults" data-ng-model = "reportType" id="allResults" tabindex="1" value="allResults">
								 <label for="allResults">
									Export all results</label>
							</li>
							<li>
							<select  data-ng-model="mode" data-ng-options="selectExportType.name as selectExportType.description for selectExportType in selectExportTypes" >
									<option value="">Select...</option>
							</select>
							</li>
							<li>
							<input type="radio" name="asCSV" id="asCSV" tabindex="1" data-ng-model = "reportFormat"
								value="csv"> <label for="asCSV "> As CSV &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							</label> 
							<input
								type="radio" name="asExcel" id="asExcel" tabindex="1" data-ng-model = "reportFormat"
								value="xls"> <label for="asExcel"> As Excel &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label>
								
							</li>
							<li>
								<button class="boxBtn ng-isolate-scope ng-scope" data-ng-click="cancelContainer(reportType,mode,reportFormat)">
									<span aria-hidden="true"
										class="btnIcon icon_sprite icon_delete2"></span>Cancel
								</button>
								<button data-ng-class="{'disabled': isDisabled}" data-ng-click="exportSResults(reportType,mode,reportFormat)" data-ng-disabled="isAllOptionsChecked(reportType,mode,reportFormat)">
									<span aria-hidden="true" class="btnIcon icon_sprite icon_save2" ></span>Submit
								</button>
							</li>
							</ul>
			</div>
            </div>          
        </div>
        
        <div data-pageable data-paging-info="searchResponse"  data-search-params="searchParams" data-change-page="changePage()">
            <table class="dataTable" data-accessible-table role="grid">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col> 
                    <col>
                    <col>
                    <col>         
                    <col class="doubleActionColumn">           
                </colgroup>
                <tr role="row">
                    <th data-sort-on-click data-sort-column="entityId" class="fixedWidth80" scope="col" id="ssidHeader" title="SSID">{{xwalk('SSID')}}</th>
                    <th data-sort-on-click data-sort-column="districtIdentifier" class="fixedWidth100" scope="col" id="organizationNameHeader" title="Organization Name">{{xwalk('Organization Name')}}</th>
                    <th data-sort-on-click data-sort-column="institutionIdentifier" scope="col" id="nameOfInstitutionHeader" title="Name of Institution">{{xwalk('Name of Institution')}}</th>
                    <th data-sort-on-click data-sort-column="stateAbbreviation" class="headerSortUp fixedWidth100" scope="col" id="stateAbbrevHeader" title="State Abbreviation">{{xwalk('State Abbreviation')}}</th>
                    <th data-sort-on-click data-sort-column="lastName" scope="col" id="lastNameHeader" title="Last Name">{{xwalk('Last Name')}}</th>
                    <th data-sort-on-click data-sort-column="firstName" scope="col" id="firstNameHeader" title="First Name">{{xwalk('First Name')}}</th>
                    <th scope="col" id="middleNameHeader" title="Middle Name">{{xwalk('Middle Name')}}</th>
                    <th class="fixedWidth50" scope="col" id="sexHeader" title="Sex">{{xwalk('Sex')}}</th>
                    <th class="fixedWidth80" scope="col" id="birthDateHeader" title="Birth Date">{{xwalk('Birth Date')}}</th>
                    <th scope="col" id="gradeLevelHeader" title="Grade Level When Assessed">{{xwalk('Grade Level When Assessed')}}</th>                   
                    <th scope="col" id="actionHeader" title="Edit"></th>
                </tr>
                <tr data-ng-repeat="student in searchResponse.searchResults" role="row">
                    <td role="gridcell" aria-labelledby="ssidHeader">{{student.entityId}}</td>                               
                    <td class="ng-class:{ajax_indicator:savingIndicator}" role="gridcell" aria-labelledby="organizationNameHeader">{{student.districtEntityMongoId | parentNameFilter:"DISTRICT":parentEntities}}</td>
                    <td class="ng-class:{ajax_indicator:savingIndicator}" role="gridcell" aria-labelledby="nameOfInstitutionHeader">{{student.institutionEntityMongoId | parentNameFilter:"INSTITUTION":parentEntities}}</td>
                    <td role="gridcell" aria-labelledby="stateAbbrevHeader">{{student.stateAbbreviation}}</td>
                    <td role="gridcell" aria-labelledby="lastNameHeader">{{student.lastName}}</td>
                    <td role="gridcell" aria-labelledby="firstNameHeader">{{student.firstName}}</td>
                    <td role="gridcell" aria-labelledby="middleNameHeader">{{student.middleName}}</td>
                    <td role="gridcell" aria-labelledby="sexHeader">{{student.gender}}</td>
                    <td role="gridcell" aria-labelledby="birthDateHeader">{{formatDate(student.birthDate)}}</td>
                    <td role="gridcell" aria-labelledby="gradeLevelHeader">{{student.gradeLevelWhenAssessed}}</td> 
                    <td class="normalSpace" role="gridcell" aria-labelledby="actionHeader">
                        <div class="tableButtonGroup">
                            <button data-ng-click="edit(student)" class="boxBtn" tabindex="0"><span class="btnIcon icon_sprite icon_edit2" aria-hidden="true"></span></button>
                            <button data-delete-confirmation="{{student.id}}" class="boxBtn" tabindex="0"><span class="btnIcon icon_sprite icon_delete2" aria-hidden="true"></span></button>
                        </div>
                    </td>                                       
                </tr>
            </table>
        </div>
        <div data-load-parent-names></div>
    </div>
</div>
</div>  

</div>
<div class="clear"></div>
