<div  data-ng-include src='"resources/testadmin/partials/leftnav.html"'></div>
<div class="secContent"> 

<div data-ng-repeat="error in errors">
     <div><span class="icon_sprite icon_error error"></span>{{error}}</div>
</div>
           
<div data-ng-form="facilityForm" class="formWrapper">
    <div data-ng-show="facilityForm.$dirty" class="dirtynag">* Warning: You have unsaved changes</div>
    <div class="fieldGroup">
    <h5>{{formAction}} Facility Information<span class="control-label-required">Indicates required field</span></h5>
        <ul>
            <li>
                <span> 
                    <label class="control-label-required" for="facility.facilityName" >Name:</label>
                     <input type="text" name="facility.facilityName" data-ng-model="facility.facilityName" />
                </span>
            </li>
            <li>
                <span> 
                    <label class="control-label" for="facility.location" >Location:</label>
                     <input type="text" name="facility.location" data-ng-model="facility.location" />
                </span>
            </li>            
            <li>
                <span class="district-auto-complete">
                    <label class="control-label-required" for="facility.institutionIdentifier">{{xwalk('Institution Identifier')}}:</label>
                    <input data-institution-auto-complete-schedule type="text" 
                    placeholder="Search..." 
                    data-ng-model="institution"
                    data-typeahead="entity as entity.entityId + ' - ' + entity.entityName for entity in filterInstitutions($viewValue, 10)" 
                    data-typeahead-wait-ms="200" 
                    data-typeahead-editable="true" 
                    data-typeahead-input-formatter="formatInstitutionLabel($model)"
                    data-typeahead-on-select="changeInstitution({institution:$item})" />  
                 </span>               
            </li>         
            <li><span></span></li>
        </ul>
        <h5>Configure Seats</h5>
        <div class="tableWrapper">
            <table class="dataTable" style="width:70%;margin:auto">
	            <colgroup>
	                <col style="width:20%">
	                <col>
	                <col> 
	                <col class="actionColumn">
	            </colgroup>
	            <tr>
	                <th data-ng-class="{'control-label-required' : facility.seatConfigurations && facility.seatConfigurations.length > 0}">Number of Seats</th>
	                <th data-ng-class="{'control-label-required' : facility.seatConfigurations && facility.seatConfigurations.length > 0}">Test Platform</th>
	                <th>Accessibility Equipment</th>
	                <th>
	                    <div class="tableButtonGroup">
	                      <button data-ng-click="addSeatConfig()" class="boxBtn" ><span class="btnIcon icon_sprite icon_saveAdd2"></span></button>
	                    </div>
	                </th>
	            </tr>
	            <tr data-ng-repeat="seatConfig in facility.seatConfigurations">
	                 <td><input class="addSeat" type="text" data-ng-model="seatConfig.numberOfSeats" /></td>
	                 <td><select  data-ng-model="seatConfig.testPlatform"  data-ng-options="testPlatform.name as testPlatform.name+'-'+testPlatform.operatingSystem+'-'+testPlatform.version for testPlatform in testPlatforms" >
	                        <option value="">Select...</option>
	                     </select>
	                </td>
	                 <td><input type="text" data-ui-select2="accessibilityEquipSelector"  data-ng-model="seatConfig.accessibilityEquipments" /> 
	                 </td>
	                 <td><div class="tableButtonGroup">
	                            <button data-ng-click="removeSeatConfig($index)" class="boxBtn"><span class="btnIcon icon_sprite icon_delete2"></span></button>
	                     </div>                                   
	                 </td>
	            </tr>
            </table> 
        </div>        
        <br>
        <br>
	        <button type="button" class="boxBtn" data-ng-show="facilityForm.$dirty" data-ng-click="save(facility)">
	            <span class="btnIcon icon_sprite icon_save2 ng-class:{ajax_indicator:savingIndicator}" ></span>
	            <span class="btnText">Save</span>
	        </button>
	     
	        <button type="button" class="boxBtn" data-ng-click="cancel()">
	            <span class="btnIcon icon_sprite icon_cancel2" ></span>
	            <span class="btnText">Cancel</span>
	        </button>        

 </div>
</div>
</div>
<div class="clear"></div>
 