   <div class="secondary">
     <div class="navCore" data-accessible-table role="navigation">
        <div class="submenuslideTestadminText" >slide to view <b>registration options</b></div>
            <div class="submenuslideTestadmin" data-ng-click="showTestAdmin(false)" data-enter="showTestAdmin(false)" tabindex="0" title="slide to view registration options">
                <div class="icon_arrows_sprite_submenu icon_slider_submenuTestadmin"></div>
            </div>     
           <ol>
             <li class="proctor_roles leftnavgrey"  data-ng-class="{selected : isActiveLink('searchProctorRoles')}" data-ng-click="goToFormsPage('searchProctorRoles')" data-enter="goToFormsPage('searchProctorRoles')" tabindex="0">Add/Modify<br>Proctor Roles<span></span></li>
             <li class="test_platform leftnavgrey"   data-ng-class="{selected : isActiveLink('searchTestPlatform')}" data-ng-click="goToFormsPage('searchTestPlatform')" data-enter="goToFormsPage('searchTestPlatform')" tabindex="0">Add/Modify<br>Test Platforms<span></span></li>
             <li class="accessibility_equipment leftnavgrey"    data-ng-class="{selected : isActiveLink('searchAccessibilityEquipment')}" data-ng-click="goToFormsPage('searchAccessibilityEquipment')" data-enter="goToFormsPage('searchAccessibilityEquipment')" tabindex="0">Add/Modify<br>Accessibility Equipment<span></span></li>
             <li class="test_facility leftnavgrey"    data-ng-class="{selected : isActiveLink('searchFacility')}" data-ng-click="goToFormsPage('searchFacility')" data-enter="goToFormsPage('searchFacility')" tabindex="0">Add/Modify<br>Test Facilities<span></span></li>
             <li class="test_time leftnavgrey" data-ng-class="{selected : isActiveLink('searchFacilityAvailability')}" data-ng-click="goToFormsPage('searchFacilityAvailability')" data-enter="goToFormsPage('searchFacilityAvailability')" tabindex="0">Add/Modify<br>Test Time<span></span></li>
             <li class="test_schedule leftnavgrey"      data-ng-class="{selected : isActiveLink('searchSchedule')}" data-ng-click="goToFormsPage('searchSchedule')" data-enter="goToFormsPage('searchSchedule')" tabindex="0">Add/Modify<br>Schedule Information<span></span></li>
             <li class="schedule_result leftnavgrey"   data-ng-class="{selected : isActiveLink('scheduleSummary')}" data-ng-click="goToFormsPage('scheduleSummary')" data-enter="goToFormsPage('scheduleSummary')" tabindex="0">Add/Modify<br>Schedule Results<span></span></li>
             <li class="proctor_report leftnavgrey" data-ng-class="{selected : isActiveLink('proctorScheduleReport')}" data-ng-click="goToFormsPage('proctorScheduleReport')" data-enter="goToFormsPage('proctorScheduleReport')" tabindex="0">View Proctor<br>Schedule Report<span></span></li>
             <li class="student_report leftnavgrey"  data-ng-class="{selected : isActiveLink('studentScheduleReport')}" data-ng-click="goToFormsPage('studentScheduleReport')" data-enter="goToFormsPage('studentScheduleReport')" tabindex="0">View Student<br>Schedule Report<span></span></li>
        </ol>   
     </div>
<div class="clear"></div>
    <a href="javascript:void(0);" class="slider-arrow" data-menu-slider  tabindex="0" title="slide to view schedule options">&raquo;</a>

