  <div  data-ng-include src='"resources/testreg/partials/leftnav.html"'></div>
 
    <div class="secContent"> 
    <h5>Participation Reports<span class="control-label-required">Indicates required field</span></h5>

<div class="tabInfo">
    <span><a data-ng-class="{selected : isActiveLink('participationReports.summary')}" data-ng-click="goToFormsPage('participationReports.summary')">Summary</a> |</span>
    <span><a  data-ng-class="{selected : isActiveLink('participationReports.detail')}" data-ng-click="goToFormsPage('participationReports.details')">Details</a> |</span>
</div>
   <div class="clear"></div>
    <div data-ui-view="reportsview"></div>
   </div> 
</div>
 


